body{
    margin: 0;
      padding: 0;
      background-color: whitesmoke;
  }
/*etiquetas*/
    #etitulo{
        color:white;
        position: absolute;
        left: 40%;
    }
    #enombre{
        color:white;
        position: absolute;
        top: 20%;
        left: 15%;
        transform: translate(-50%, -50%);
    }
    #etalla{
        color:white;
        position: absolute;
        top: 20%;
        left: 42%;
        transform: translate(-50%, -50%);
    }
    #emarca{
        color:white;
        position: absolute;
        top: 20%;
        left: 75%;
        transform: translate(-50%, -50%);
    }
    



  /*inputs*/
  #nombre {
    border: 3px solid rgb(127, 170, 170);
    border-radius: 20px;
    background-image: linear-gradient(120deg,#3c3c3c,#585858);
    color: rgb(127, 170, 170);
    cursor: pointer;
    padding: 7px 12px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    transition: all 1s;
    max-width: 170px;
    position: absolute;
    top: 35%;
    left: 20%;
    transform: translate(-50%, -50%);
   }
   
   #talla:focus {
    outline-color: rgb(127, 170, 170);
   }
   #talla {
    border: 3px solid rgb(127, 170, 170);
    border-radius: 20px;
    background-image: linear-gradient(120deg,#3c3c3c,#585858);
    color: rgb(127, 170, 170);
    cursor: pointer;
    padding: 7px 12px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    transition: all 1s;
    max-width: 170px;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
   }
   
   #talla:focus {
    outline-color: rgb(127, 170, 170);
   }

   #marca {
    border: 3px solid rgb(127, 170, 170);
    border-radius: 20px;
    background-image: linear-gradient(120deg,#3c3c3c,#585858);
    color: rgb(127, 170, 170);
    cursor: pointer;
    padding: 7px 12px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    transition: all 1s;
    max-width: 170px;
    position: absolute;
    top: 35%;
    left: 80%;
    transform: translate(-50%, -50%);
   }
   
   #marca:focus {
    outline-color: rgb(127, 170, 170);
   }

/*butones*/
button {
    position: relative;
    padding: 1em 1.8em;
    outline: none;
    border: 1px solid #303030;
    background: #212121;
    color: #ae00ff;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 15px;
    overflow: hidden;
    transition: 0.2s;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
   }
   
   button:hover {
    box-shadow: 0 0 10px #ae00ff, 0 0 25px #001eff, 0 0 50px #ae00ff;
    transition-delay: 0.6s;
   }
   
   button span {
    position: absolute;
   }
   
   button span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #ae00ff);
   }
   
   button:hover span:nth-child(1) {
    left: 100%;
    transition: 0.7s;
   }
   
   button span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #001eff);
   }
   
   button:hover span:nth-child(3) {
    right: 100%;
    transition: 0.7s;
    transition-delay: 0.35s;
   }
   
   button span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #ae00ff);
   }
   
   button:hover span:nth-child(2) {
    top: 100%;
    transition: 0.7s;
    transition-delay: 0.17s;
   }
   
   button span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #001eff);
   }
   
   button:hover span:nth-child(4) {
    bottom: 100%;
    transition: 0.7s;
    transition-delay: 0.52s;
   }
   
   button:active {
    background: #ae00af;
    background: linear-gradient(to top right, #ae00af, #001eff);
    color: #bfbfbf;
    box-shadow: 0 0 8px #ae00ff, 0 0 8px #001eff, 0 0 8px #ae00ff;
    transition: 0.1s;
   }
   
   button:active span:nth-child(1) 
   span:nth-child(2) 
   span:nth-child(2) 
   span:nth-child(2) {
    transition: none;
    transition-delay: none;
   }



   /*cards*/
   .card {
 width: 800px;
 height: 250px;
 background-image: linear-gradient(163deg, #00ff75 0%, #3700ff 100%);
 border-radius: 20px;
 transition: all .3s;
 position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /*width: 400px;
  border-radius: 10%; */
}

.card2 {
 width: 800px;
 height: 250px;
 background-color: #1a1a1a;
 border-radius:10%;
 transition: all .2s;
 position: absolute;

  /*left: 50%;
  transform: translate(-50%, -50%);
 /* width: 400px;
  border-radius: 10%; */
}

.card2:hover {
 transform: scale(0.98);
 border-radius: 20px;
}

.card:hover {
 box-shadow: 0px 0px 30px 1px rgba(0, 255, 117, 0.30);
}
